<div class="card-catalog">
  <div class="card-catalog__label">
    {{label|default("DR1015")}}
  </div>
  <div class="card-catalog__img">
    <img src="./assets/img/content/{{img|default('catalog-item.png')}}" alt="{{alt|default('product')}}">
  </div>
  <div class="card-catalog__title">
    {{title|default('Штифт - нагель
    ')}}
  </div>
  <div class="card-catalog__text">
    {{text|default('с фаской и углублением
    ')}}
  </div>
</div>